body{
    width: 1200px;
    margin: auto;
}

.header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 40px;
     gap: 30px;
 }

.ask-btn{
    background-color:#33836E ;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
}

.contact{
    display: block;
}

.phone-number{
    font-weight: bold;
    font-size: 18px;
    display: block;
}

.search{
    width: 427px;
    border: none;
    font-size: 16px;
    background-color:#2F2B430A ;
    border-radius: 10px;
    padding: 10px;
}

.menu{
    display: flex;
    margin-top: 40px;
    gap: 30px;
    justify-content: space-between;
    font-size: 16px;  
    align-items: center;
}
 
.menu a{
    text-decoration: none;
    color: black;
}

.menu-border{
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    padding: 10px 20px;

}

.menu2{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.menu2-border {
text-decoration: none;
color:#2F2B4380;
top: 185px;
position: absolute;

}

.conact-info{
    color:#2F2B4380;
}

.Main1 {
    font-size: 38px;
    font-weight: 700px;
    line-height: 52px;

    max-width: 657px;
    height: 104px;
    top: 77px;
    position: relative;
    overflow: hidden;
}