body{
    width: 1200px;
    margin: auto;
}

.header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 40px;
     gap: 30px;
 }

.ask-btn{
    background-color:#33836E ;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
}

.contact{
    display: block;
}

.phone-number{
    font-weight: bold;
    font-size: 18px;
    display: block;
}

.search{
    width: 427px;
    border: none;
    font-size: 16px;
    background-color:#2F2B430A ;
    border-radius: 10px;
    padding: 10px;
}

.menu{
    display: flex;
    margin-top: 40px;
    gap: 30px;
    justify-content: space-between;
    font-size: 16px;  
    align-items: center;
}
 
.menu a{
    text-decoration: none;
    color: black;
}

.menu-border{
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    padding: 10px 20px;

}

.menu2{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.menu2-border {
text-decoration: none;
color:#2F2B4380;
top: 185px;
position: absolute;

}

.conact-info{
    color:#2F2B4380;
}

.Main1 {
    font-size: 38px;
    font-weight: 700px;
    max-width: 490px;
left: 150px;
margin-top: -300px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 38px;
letter-spacing: -0.03em;
color: #140A32;


}

.FrameMan1{
    position: relative;
    height: 402px;
    left: 820px;
    top: 40px;
}

.Main1_1 {

width: 657px;
height: 78px;
left: 150px;
top: 396px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 160%;
color: #140A32;
letter-spacing: -0.05em;

}

.Green_Button{
/* button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 36px 18px;
gap: 10px;

width: 253px;
height: 56px;

background: #33836E;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Задать вопрос юристу */

width: 181px;
height: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

/* Base/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.number{
    /* Frame 979 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 180px;
height: 35px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 8 800 302-92-70 */

width: 180px;
height: 33px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
/* identical to box height */

/* green */
color: #33836E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 1 */

width: 178px;
height: 0px;

/* green */
border: 2px solid #33836E;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.Free_Call{
    /* Бесплатный звонок юристу 24/7 */

width: 189px;
height: 16px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

/* Gray/Medium */
color: rgba(47, 43, 67, 0.5);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}